################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnTangle/UnTangle/bin/x64/Debug/WindowsInput.dll
/UnTangle/.vs
/UnTangle/UnTangle/bin
/UnTangle/UnTangle/obj
/UnTangle/.vs
